<div class="card" *ngFor="let product of products">
    <img [src]="'../assets/' + product.id + '.jpeg'" alt="Product Image">

    <div class="info">
        <h3>
            <a target="_blank" rel="noopener noreferrer" [title]="product.name" [href]="product.kaspi">
                {{ product.name }}
            </a>
        </h3>

        <p>Rating: {{product.rating}}</p>

        <p *ngIf="product.description">
            {{ product.description }}
        </p>

        <share-buttons [theme]="'modern-dark'" [include]="['telegram','whatsapp']" [show]="5" [showText]="true"
            [url]="product.kaspi" [autoSetMeta]="false"></share-buttons>
    </div>




</div>