<div *ngIf="loaded">
    <h3>Album detail #{{album.id}}</h3>

    <h4>{{album.title}}</h4>

    <a [routerLink]="['/albums', album.id, 'photos']"><button class="photo">Photos</button></a>

    <form (submit)="updateAlbum($event)">
        <fieldset>
            <label for="title">Update title:</label>
            <input type="text" [(ngModel)]="newTitle" id="title" name="title" required>
            <br />
            <button class="submission" type="submit">Save</button>

            <!-- <button (click)="returnTitle()">Return back</button> -->
        </fieldset>
    </form>

    <a [routerLink]="['/albums']"><button class="return">Return back</button></a>


</div>


<p *ngIf="!loaded">Album detail page is loading...</p>