div {
    margin-left: 10px;
}

fieldset {
    border-radius: 8px;
    margin-top: 10px;
}

input {
    padding: 7px;
    width: 50%;
    margin-left: 30px;
    margin-bottom: 20px;
}

button {
    padding: 7px 15px 7px 15px;
    margin-right: 20px;
    border-radius: 5px;
}

.return {
    margin-top: 20px;
    background-color: cadetblue;
}

.submission {
    background-color: rgba(69, 228, 16, 0.726);
}

.photo {
    background-color: rgb(241, 209, 166);
}